* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {



    display: grid;
    grid-template-areas: "head head"
        "main main"
        "foot foot";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: 90px 280px 400px;

    & header {
        grid-area: head;
    }

    & main {
        grid-area: main;
        background: white;
    }

    & footer {
        grid-area: foot;
    }
}
  .wrapper {
    height: 30px;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0);
    

}

.wrapper span {
    width: 90%;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    cursor: pointer;
}

.wrapper span.num {
    font-size: 20px;
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
    pointer-events: none;
    background-color: #103560;
    color: #fff;
}

  .contBotones{
    display: flex;
    justify-content: center;
  }

  .btnatras{
    margin-right: 50%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;

  }

  .btnatras span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    background: #BABEC1;
  }
  


button {
    justify-content: flex-end;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
  }
    button span {
    text-align: center;
    text-decoration: none;
    width: 100%;
    padding: 18px 25px;
    color: #fff;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 0.3em;
    z-index: 20;
    transition: all 0.3s ease-in-out;
    background: #28BA6E;

  }
  .panel-body{
    height: 40%;
    background-color: #103560;
  }
  .botonfinal{
    align-content: right;
    
  }
  
  
  
 
  
/*MediaQ*/


@media(max-width:480px) {}



@media screen and (min-width:768px) {
    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;

    }

    main {
        flex: 1;
    }

    footer {
        margin-top: auto
    }


}
